.article-true-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid black;
  }

  .article-container {
    padding: 20px;
  }
  
  .article-image {
    width: 100%;
    height: auto;
  }
  
  .article-title {
    font-size: 2em;
    margin: 20px 0;
  }
  
  .article-content {
    line-height: 1.6;
  }
  
  .article-meta {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    color: gray;
    margin-top: 20px;
  }