@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  .special-ov {
    max-height: 90vh;
    overflow-y: auto;
}

.user_box {

  width: 90%;
  min-height: 100%;

  .user_box_table {
    width: 100% !important;
    text-align: left !important;
    margin-top: 20px !important;
  }
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
	@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

		/* Force table to not be like tables anymore */
		table, thead, tbody, th, td, tr {
			display: block;
		}


		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr {
			position: absolute;
			top: -9999px;
			left: -9999px;
		}


      
    
		td {
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee;
			position: relative;
			padding-left: 50%;
		}

		td:before {
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 0;
			left: 6px;
			width: 45%;
			padding-right: 10px;
			white-space: nowrap;
		}

    td:before {
        content: attr(data-label);
    }
	}



table {
  margin: auto;
  min-width: 300px;
  max-width: 100%;
  border-collapse: collapse;
}

table thead tr:first-child {
  border-top: none;
  background: #BF0005;
  color: #fff;
}

table tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: #f5f9fc;
}

table th {
  display: none;
}

table td {
  display: block;
}

table td:first-child {
  margin-top: .5em;
}

table td:last-child {
  margin-bottom: .5em;
}

table td:before {
  font-weight: bold;
  width: 120px;
  display: inline-block;
  color: #000;
  position: relative;
}

table th,
table td {
  text-align: left;
}

table {
  color: #333;
  border-radius: .4em;
  overflow: hidden;
}

table tr {
  border-color: #bfbfbf;
}

table th,
table td {
  padding: .5em 1em;
}
@media screen and (max-width: 601px) {
  table tr:nth-child(2) {
    border-top: none;
  }
}
@media screen and (min-width: 600px) {
  table tr:hover:not(:first-child) {
    background-color: #f8868ace;
  }
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
    padding: .25em .5em;
  }
  table th:first-child,
  table td:first-child {
    padding-left: 0;
  }
  table th:last-child,
  table td:last-child {
    padding-right: 0;
  }
  table th,
  table td {
    padding: 1em !important;
  }
}
}


}



.customsidebar {
  border-color: black !important;
  color: white !important;
}
@media screen and (min-width: 768px) {
.user__name {
  left: 260px;
  position: relative;
}
}

.sidebar_container {
  z-index: 2 !important;
 }

 .customnav {
  z-index: 1 !important;
 }


@media screen and (max-width: 990px) {

  .customsidebar {
    z-index: 999999 !important;
   }

   .customnav {
    z-index: 99999 !important;
   }
}




.caproluz_red {
  background-color: #BF0005;
}

.caproluz_active {
  background-color:  rgba(0,0,0,.8);
}

.caproluz_option:hover {
  background-color:  rgba(0,0,0,.8);

}